node_modules
.next
.git
.env
.env.local
.env*.local
*.md
.storybook
storybook-static
**/*.stories.tsx
**/*.stories.ts
**/*.test.tsx
**/*.test.ts
**/*.spec.tsx
**/*.spec.ts
vitest.config.ts
vitest.shims.d.ts
.eslintignore
.dockerignore
tsconfig.tsbuildinfo
