DATABASE_URL="mysql://root:@localhost:3306/mini_bi_dashboard"
JWT_SECRET="super_secret_jwt_key_for_mini_bi"
PORT=5000
DASHBOARD_URL="http://localhost:3000/dashboard"
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USER="ethereal_user"
SMTP_PASS="ethereal_pass"

GEMINI_API_KEY=""
DB_PASSWORD="rootpassword"
NEXT_PUBLIC_API_URL="http://localhost:5000/api"
